# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Projects\react-auth-kit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
